* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #20202d;
    color: #fff;
    font-family: 'robotoregular', sans-serif;
}

.container {
    width: 90%;
    max-width: 945px;
    margin: 0 auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.about-me {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-title {
    font-family: 'robotobold', sans-serif;
    margin: 0;
    margin-bottom: 84px;
    font-size: 36px;
    line-height: 42px;
    color: #ffbb01;
}

.about-me .section-title {
    margin-bottom: 15px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);

}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.hero-logo {
    width: 150px;
}

.social-links {
    display: flex;
}

.social-link {
    margin-left: 10px;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.social-link .icon {
    width: 18px;
    height: 18px;
    fill: #fff;
    transition-duration: .4s;
}

.social-link:hover .icon {
    transform: scale(1.5);
}

.social-link:hover:nth-child(2) .icon {
    fill: #4fc5f7;
}

.social-link:hover:nth-child(3) .icon {
    fill: #f65137;
}

.social-link:hover:last-child .icon {
    fill: #1973eb;
}

.social-link:first-child {
    margin-left: 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-subtitle {
    font-size: 24px;
    line-height: 50px;
    color: #ffbb01;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.hero-title {
    font-family: 'robotobold', sans-serif;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-text-stroke-color: #ffbb01;
    -webkit-text-fill-color: #ffbb01;
    -webkit-text-stroke-width: 0.02em;
    text-shadow: -5px 0 #fff;
    display: flex;
    letter-spacing: 2px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

.button {
    font-family: 'robotobold', sans-serif;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border: 2px solid transparent;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    position: relative;
    transition-duration: .4s;
    outline: none;
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #fff;
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button:hover {
    background: #fff;
    box-shadow: 0px 4px 10px #B68500;
    border: 2px solid #B68500;
}

.hero-avatar {
    width: 389px;
    height: 389px;
    border-radius: 50%;
    border: 13px solid #fff;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-avatar:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    box-shadow: -14.56px -14.56px 0 rgb(255 0 0 / 30%), -20.384px 0 0 rgb(255 170 0 / 30%), -14.56px 14.56px 0 rgb(170 255 0 / 30%), 0 20.384px 0 rgb(0 255 0 / 30%), 14.56px 14.56px 0 rgb(0 255 170 / 30%), 20.384px 0 0 rgb(0 170 255 / 30%), 14.56px -14.56px 0 rgb(0 0 255 / 30%), 0 -20.384px 0 rgb(170 0 255 / 30%);
    animation: rotate 2s linear infinite;
}

/* features */
.features {
    background-color: #000;
}

.features-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 25%;
    margin-bottom: 25px;
    text-decoration: none;
    color: #fff;
    transition-duration: .5s;
}

.features-item:hover {
    transform: scale(1.2);
}

.features-item:hover .features-images {
    transform: rotate(360deg);
}

.features-item:hover .features-title {
    text-shadow: 0 -7px 10px #B68500;
}

.about-me__block {
    flex-basis: auto;
}

.about-me__block:hover {
    transform: scale(1);
}

.features-images {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 22px;
    transition-duration: 1s;
}

.features-title {
    font-family: 'robotobold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: .5s;
}

.features-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
/* Slider */
.projects {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.projects-slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    margin-right: 15px;
}

.portfolio-links {
    position: relative;
    overflow: hidden;
}

.portfolio-links-box {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-box:hover .portfolio-links {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(	182, 133, 0, .7);
    z-index: 11;
    border-radius: 5%;
    top: 0;
    animation: uprise 1s forwards;
}

.portfolio-link {
    font-family: 'robotobold', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

.portfolio-link:hover .portfolio-link-text {
    text-shadow: 0 -7px 10px #000;
    transform: scale(1.1);
}

.portfolio-link-text {
    margin-top: 10px;
    transition-duration: .7s;
}

.portfolio-link-text {
    margin-top: 10px;
}

.portfolio-icon {
    width: 70px;
    height: 70px;
}

.portfolio-link:hover .portfolio-icon {
    animation: jump .7s forwards;
}

.project-text {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}

.project-title {
    font-family: 'robotobold', sans-serif;
    flex-basis: 100%; 
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.project-sub-title {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 18px;
    line-height: 24px;
}

.portfolio .section-title {
    margin-bottom: 0;
}

.project-time, 
.project-cost {
    flex-basis: 50%;
    margin-bottom: 44px;
}

.project-time, 
.project-cost,
.project-feedback {
    display: flex;
    align-items: flex-start;
}

.project-subtitle {
    font-family: 'robotobold', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
}

.portfolio-paragraph {
    margin-bottom: 84px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 24px;
}

.project-paragraph {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.project-icon {
    margin-right: 16px;
}

.project-image {
    width: 350px;
    height: 285px;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.projects-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #ffbb01;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.projects-bullet:first-child {
    margin-left: 0;
}
.projects-bullet:last-child {
    margin-right: 0;
}

.projects-bullet-active {
    background-color: #ffbb01;
}

.project-lists {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.project-list:not(:last-child) {
    margin-bottom: 10px;
}

.project-list {
    position: relative;
    font-style: italic;
}

.project-list::before {
    content: "\2714";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ffbb01;
    border-radius: 5px;
    margin-right: 6px;
    text-align: center;
    font-weight: bold;
    color: #ffbb01;
}

/* contacts */
.footer {
    padding-bottom: 30px;
}

.contacts-form {
    background: #fff;
    box-shadow: -5px 5px 0px #ffc41d;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 49px;
    transition-timing-function: ease-in-out;
    transition-duration: .33s;
    transition-property: opacity transform;
    transform: translateY(100%) scale(.7);
    opacity: 0;
    pointer-events: none;
}

.contacts-form.form-active {
    transform: none;
    opacity: 1;
    pointer-events: all;
}

.thanks-form {
    position: absolute;
}

.thanks-form .button {
    width: 100%;
}

.form-title {
    font-family: 'robotobold', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 0;
    margin-bottom: 29px;
}

.input {
    background: #F8F8F8;
    border: none;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}

.input-name {
    margin-bottom: 17px;
    background-image: url('../img/contacts/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone {
    margin-bottom: 17px;
    background-image: url('../img/contacts/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form-button {
    width: 100%;
}

.contacts-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
}

.contacts-text {
    flex-basis: 50%;
}

.contacts-data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.contacts-phone,
.contacts-mail {
    flex-basis: 50%;
    margin-bottom: 53px;
}

.text-message {
    resize: none;
    margin-bottom: 20px;
    margin-bottom: 17px;
    background-image: url('../img/sliders/slide-icon/feedback-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 10px;
}

.contacts-social {
    flex-basis: 100%;
}
.contacts-title {
    font-family: 'robotobold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts-link {
    text-decoration: transparent;
    color: inherit;
    margin-right: 37px;
    transition-duration: .5s;
}

.contacts-link:last-child {
    margin-right: 0;
}

.contacts-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #FFBB01;
}

.contacts-policy {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #a5a5a5;
    text-align: center;
}

.spin-loader {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 9px;
}

.spin-loader::after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spin-loader 1.2s linear infinite;
}

.form-button:hover .spin-loader::after {
    border: 6px solid #B68500;
    border-color: #B68500 transparent #B68500 transparent;
}

@keyframes spin-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        transform:rotate(1turn);
    }
}
  
@keyframes uprise {
    from {
      top: 100%; 
    }
    to {
      top: 0; 
    } 
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-25px);
    } 
    100% {
        transform: translateY(0);
    }
}
/* responsive */
@media (max-width: 1100px) {
    .hero-avatar {
        width: 300px;
        height: 300px;
        border-width: 10px;
    }
}

@media (max-width: 836px) {
    .hero-content {
        flex-direction: column;
    }
    .hero-description {
        text-align: left;
    }
    .hero-avatar {
        order: 0;
        width: 300px;
        height: 300px;
        border-width: 10px;
        margin-bottom: 17px;
    }
    .hero-text {
        order: 1;
        text-align: center;
    }
    .projects-slide {
        flex-direction: column;
    }
    .portfolio-box {
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .project-image {
        width: 450px;
        height: 285px;
    }
    .project-text {
        margin-top: 30px;
        flex-direction: column;
    }
    .contacts-block {
        align-items: flex-start;
        flex-direction: column;
    }
    .contacts-form {
        margin-bottom: 58px;
    }
}
@media (max-width: 564px) {
    .hero {
        padding-top: 20px;
        padding-bottom: 75px;
    }
    .hero-header {
        margin-bottom: 38px;
    }
    .hero-subtitle {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 5px;
    }
    .hero-avatar {
        width: 250px;
        height: 250px;
        border-width: 4px;
        background-size: 100%;
    }
    .social-link {
        margin-left: 10px;
    }
    .hero-title {
        font-size: 34px;
        line-height: 38px;
    }
    .hero-description {
        font-size: 14px;
        line-height: 140%;
    }
    .button {
        width: 100%;
    }
    .section {
        padding: 30px 0;
    }
    .section-title {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 60px;
    }
    .features-item {
        margin-bottom: 30px;
    }
    .features-title {
        font-size: 18px;
        line-height: 28px;
    }
    .features-text {
        font-size: 14px;
        line-height: 28px;
    }
    .project-title {
        font-size: 18px;
        line-height: 150%;
    }
    .project-time, 
    .project-cost,
    .project-feedback {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .project-paragraph {
        font-size: 14px;
    }
    .projects-pagination {
        margin-top: 0;
    }
    .contacts-form {
        padding: 40px 19px;
    }
    .form-title {
        font-size: 15px;
        line-height: 140%;
    }
    .form-button {
        font-size: 10px;
    }
    .contacts-phone,
    .contacts-mail {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contacts-title {
        font-size: 18px;
        line-height: 21px;
    }
    .contacts-link {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 13px;
    }
    .contacts-block {
        margin-bottom: 20px;
    }
}
@media (max-width: 474px) {
    .project-image {
        width: 350px;
        height: 250px;
    }
}